export(getDirection)
export(calculateTFstoTargets)
export(calculateConditionalCors)
export(combineInteractions)
export(combineDependencies)
export(plotDependencies)
export(plotInteractions)
export(plotInteractionsWithTargets)
import(energy)
import(igraph)
import(parallel)
import(doParallel)
import(foreach)
importFrom("dplyr", "anti_join", "inner_join")
importFrom("plyr", "ddply")
importFrom("stats", "p.adjust", "quantile", "t.test")
importFrom("utils", "combn", "read.table")
importFrom("methods", "is")
importFrom("graphics", "plot")
