export(getDirection)
export(calculateTFstoTargets)
export(calculateConditionalCors)
export(combineInteractions)
export(combineDependencies)
export(plotDependencies)
export(plotInteractions)
export(plotInteractionsWithTargets)
import(energy)
import(igraph)
import(Rcpp)
import(parallel)
import(doParallel)
importFrom("dplyr", "anti_join", "inner_join")
importFrom("plyr", "ddply")
